<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form action='/login' method="post">
    <Label>First name : <input type="text" name="firstName"></Label>
    <Label>Last name : <input type="text" name="lastName"></Label>
    <Label>Email : <input type="text" name="email"></Label>
    <Label>Password : <input type="text" name="password"></Label>
    <Label>Age : <input type="number" name="age"></Label>
    <Label>City : <input type="text" name="city"></Label>
    <input type="submit" value="OK">
</form>

</body>
</html>